@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hahmlet, sans-serif;
    color: #1b4b4b;
}

/* Header and nav bar */

header, #main-nav > a {
    height: 45px;
    line-height: 45px;
}

.left-3 {
    border-right: 2px solid white;
}

#main-nav > a {
    width: 24.9%;
    float: left;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: rgba(36, 56, 235, 0.8);
    color: #fff;
}

#main-nav .active {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

#main-nav > a:hover {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

/* Main image */

#center-piece {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-image {
    background: url('../images/main_image.jpg') no-repeat;
    height: 630px;
    width: 100%;
    background-size: 100% 100%;
}