@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: #1b4b4b;
}

h1, h2, h3 {
    letter-spacing: 2px;
}

/* Header and nav bar */

header, #main-nav > a {
    height: 45px;
    line-height: 45px;
}

.left-3 {
    border-right: 2px solid white;
}

#main-nav > a {
    box-sizing: border-box;
    width: 25%;
    float: left;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: rgba(36, 56, 235, 0.8);
    color: #fff;
}

#main-nav .active {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

#main-nav > a:hover {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

/* Main images and texts */

.text {
    color: white;
    font-family: Hahmlet;
    letter-spacing: 2px;

    height: 90px;
    width: 400px;

    left: 100px;
    top: 80px;

    position: absolute;
}

#main-text {
    padding-left: 15px;
    padding-bottom: 5px;
    background-color: rgba(36, 56, 235, 0.4);
}

#contact-text {
    color: rgba(36, 56, 235, 1);
}

.center-piece {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.top-image {
    height: 630px;
    width: 100%;
    background-size: 100%;
}

#index-image {
    background: url('../images/main_image.jpg') no-repeat;
    background-size: 100%;
}

#puzzle-image {
    background: url('../images/puzzle_image.jpg') no-repeat;
    background-size: 100%;
}

#fame-image {
    background: url('../images/fame_image.jpg') no-repeat;
    background-size: 100%;
}

#contact-image {
    background: url('../images/contact_image.jpg') no-repeat;
    background-size: 100% 100%;
}

/* Why chess */

#why-chess {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

#why-chess h2 {
    padding-top: 30px;
}

#why-left {
    width: 33%;
    float: left;
}

#why-right {
    width: 33%;
    float: right;
}

.reason {
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

#why-chess hr {
    border-top: 1px solid #3a3a3a;
    width: 80%;
    margin: 5px;
}

#why-image {
    background: url('../images/royalty.jpg') no-repeat;
    width: 33%;
    height: 400px;
    background-size: 80%;
    margin: 0 auto;
    position: relative;
    float: left;
}

/* chess poem */

#poem {
    font-family: Special Elite, sans-serif;
    font-weight: 500;
    font-size: 180%;
    margin-bottom: 70px;
    text-align: center;
    overflow: auto;
    width: 100%;
}

/* meet up times */

#meets {
    background-image: url('../images/meet_background.jpg');
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

#meets div {
    float: left;
    width: 32%;
    text-align: center;
    line-height: 200%;
    background-position: center;
    overflow: hidden;
}