@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    color: #1b4b4b;
}

/* Header and nav bar */

header, #main-nav > a {
    height: 45px;
    line-height: 45px;
}

.left-3 {
    border-right: 2px solid white;
}

#main-nav > a {
    width: 24.9%;
    float: left;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: rgba(36, 56, 235, 0.8);
    color: #fff;
}

#main-nav .active {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

#main-nav > a:hover {
    color: rgba(36, 56, 235, 0.8);
    background-color: white;
    font-size: 120%;
}

/* Main images and texts */

.text {
    color: white;
    font-family: Hahmlet;
    letter-spacing: 2px;

    height: 90px;
    width: 400px;

    left: 100px;
    top: 80px;

    position: absolute;
}

#main-text {
    padding-left: 15px;
    padding-bottom: 5px;

    background-color: rgba(36, 56, 235, 0.4);
}

#contact-text {
    color: rgba(36, 56, 235, 1);
}

.center-piece {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.image {
    height: 630px;
    width: 100%;
    background-size: 100% 100%;
}

#main-image {
    background: url('../images/main_image.jpg') no-repeat;
    background-size: 100% 100%;
}

#puzzle-image {
    background: url('../images/puzzle_image.jpg') no-repeat;
    background-size: 100% 100%;
}

#fame-image {
    background: url('../images/fame_image.jpg') no-repeat;
    background-size: 100% 100%;
}

#contact-image {
    background: url('../images/contact_image.jpg') no-repeat;
    background-size: 100% 100%;
}